* {
  font-family: "Fjalla One", sans-serif;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 100vw;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
  gap: 20px;
}

img {
  height: 10%;
  padding-bottom: 30px;
}
