.button-container {
  button,
  img {
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    opacity: 0.75;

    button {
      color: white;
      margin: 0 3rem 2rem 3rem;
      padding: 10px;
      border-radius: 20px;
      border-style: none;
      background-color: #3c3f43;
      text-transform: uppercase;
    }

    img {
      box-sizing: border-box;
      height: 35px;
    }
  }
}

@media (max-width: 600px) {
}
