.main-title {
    text-align: center;
    color: white;
}

@media (max-width: 1028px) {
    .main-title {
        font-size: larger;
        margin-top: 8rem;
        max-width: 80%;
    }
}

@media (max-width: 768px) {

    .main-title {
        font-size: large;
    }

}

@media (max-width: 600px) {

}