@import "sections/header";

* {
  font-family: "Fjalla One", sans-serif;

  a {
    text-decoration: none;
  }
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  gap: 50px;

  header {
    position: relative;
    border-bottom: 1px solid black;
    background-color: transparent;
    .logo-container {
      color: black;
      img {
        content: url("../assets/black-motown.svg");
      }
    }

    button {
      display: none;
    }
    nav {
      display: none;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50%;
    max-width: 400px;
    align-items: center;
    padding: 20px;
    gap: 30px;

    h1 {
      border-bottom: 1px solid black;
      padding-bottom: 20px;
      width: 100%;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 10px;

      label {
        font-size: 1.2rem;
      }

      input,
      select,
      button {
        padding: 10px;
        border-radius: 10px;
        border-style: none;
      }

      button {
        cursor: pointer;
        background-color: #aa1846;
        color: white;
      }
    }
  }
}
